{% extends "homepage/navbar.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<style type="text/css">
#banner {
		background-image: linear-gradient(to right, #a517ba, #5f1782);
		color: white;
		padding-top: 5%;
	}
	.promo-title {
		font-size: 50px;
		font-weight: 600;
		margin-top: 100px;
		font-family: 'Halant', serif;
	}
	.bottom-img {
		width:  100%;
	}
	.promo-subtitle {
		font-size: 1.2rem;
	}
	.btn-primary {
		box-shadow: none;
		padding: 10px 30px;
		border: 2px solid #7b1789;
		border-radius: 30px;
		background-image: linear-gradient(to right, #5f1782,#a517ba);
	}

</style>
<link href="https://fonts.googleapis.com/css?family=Halant&display=swap" rel="stylesheet">

<section id="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<p class="promo-title text-center">H H WATER SUPPLY</p>
				<p class="promo-subtitle text-center">Fresh Water Supply & Ship Chandling</p>
				<a href="tel:+91 9824286952"><button class="btn btn-primary"><i class="fa fa-phone"></i> Click To Call</button></a>
			</div>
			<div class="col-md-6 text-center">
				<img class="img-fluid" src="{% static 'homepage/img/main_image.png' %}">
			</div>
		</div>
	</div>
	<img class="bottom-img" src="{% static 'homepage/img/bottom-img_1.png' %}">
</section>


<style type="text/css">
	.title::before {
		content: '';
		background: #7b1789;
		height: 5px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(63px);
	}
	.title::after {
		content: '';
		background: #7b1789;
		height: 10px;
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		display: block;
		transform: translateY(8px);
	}

	#about-us {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.about-title {
		font-size: 30px;
		font-weight: 600;
		margin-top: 8%;
	}
	#about-us ul li {
		margin: 10px 0;
	}
	#about-us ul{
		margin-left: 20px;
	}

</style>
{% url 'homepage:inquiry' as inquiry %}
<section id="about-us">
	<div class="container">
		<h1 class="title text-center">ABOUT US</h1>
		<div class="row">
			<div class="col-md-6">
				<img class="img-fluid" src="{% static 'homepage/img/about.png' %}">
			</div>
			<div class="col-md-6">
				<p class="about-title">Why We Are Different?</p>
			    <p> H H Water Supply has rich experience of 10+ years in supplying Fresh Water and in Ship Chandling facility.
                    We manage significant values on behalf of our customers.
                    We take responsibility for the job being done in a professional, cost-effective manner that preserves their assets and reputation.
			    </p>
			    <a href="{{ inquiry }}"><button class="btn btn-primary">GET A QUOTE</button></a>
			</div>

		</div>
	</div>
</section>
{% endblock %}